#container{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    padding: 10px; 
    background-color: black;
}

.card{
    width: 150px;
    height: 150px;
    background: #ccc;
    margin: 10px;
}